<div class="bg-red-500">
  <p class="ml-20 py-20 text-3xl text-white font-semibold">
    Check out The current status of Coins in the market !
  </p>
</div>

<div>

  <div class="flex mx-20">
    <div class="w-[70%] justify-center">
      <div class="flex flex-row items-center justify-center -mt-4">
      <mat-form-field appearance="outline" class=" bg-white rounded-md w-[70%]">
        <input
          matInput
          (input)="applyFilter($event)"
          placeholder="Search for a Coin"
        />
        <mat-icon matSuffix style="color: gray">search</mat-icon>
      </mat-form-field>
      <button *ngIf="viewTrackList==false" mat-flat-button class="ml-10" color="warn" (click)="toggleTrackList()">View Track List</button>

      <button *ngIf="viewTrackList==true" mat-flat-button class="ml-10" color="warn" (click)="toggleTrackList()">Back</button>
    </div>

    <div *ngIf="viewTrackList==false">
      <div *ngFor="let coin of filteredCoinDetails">
        <app-crypto-card
          [coin]="coin"
          (dataEvent)="handleDataFromChild($event)"
        ></app-crypto-card>
      </div>
    </div>


    </div>

    <div>
      <div class="fixed" *ngIf="viewTrackList==false">
        <div class="bg-white border border-gray-300 ml-10 -mt-10 p-20 rounded-xl">
          <p class="font-bold text-4xl mb-10">{{ selectedCoin.name }}</p>
          <div class="flex">
            <p class="mb-4 font-medium">Market Cap :</p>
            <p class="ml-8">{{ selectedCoin.market_cap }}</p>
          </div>


          <div class="flex">
            <p class="mb-4 font-medium">Total Supply :</p>
            <p class="ml-8">{{ selectedCoin.total_supply }}</p>
          </div>

          <div class="flex">
            <p class="mb-4 font-medium">Circulating Supply :</p>
            <p class="ml-8">{{ selectedCoin.circulating_supply }}</p>
          </div>

          <div class="flex">
            <p class="mb-4 font-medium">Max value in the last 24 hours :</p>
            <p class="ml-8">{{ selectedCoin.high_24h }}</p>
          </div>

          <div class="flex">
            <p class="mb-4 font-medium">Min value in the last 24 hours :</p>
            <p class="ml-8">{{ selectedCoin.low_24h }}</p>
          </div>

          <div class="flex flex-row">
          <button
            class="mt-5"
            mat-stroked-button
            color="primary"
            (click)="openAnalytics(selectedCoin.id)"
          >
            View Analytics
          </button>

          <button
          class="mt-5 ml-4"
          mat-stroked-button
          color="primary"
          (click)="openTrack(selectedCoin)"
        >
          Add to Track List
        </button>
      </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="viewTrackList==true" class="mx-20 mt-10">
    <!-- <div *ngFor="let coin of trackList">

    </div> -->
    <p class="text-3xl font-bold mb-10 ">My Track List</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z3 ">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <!-- Position Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.market_data.current_price.usd}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="24H%">
        <th mat-header-cell *matHeaderCellDef>24H %</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.market_data.price_change_percentage_24h}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Market_Cap">
        <th mat-header-cell *matHeaderCellDef>Market Cap</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.market_data.market_cap.usd}} </td>
      </ng-container>

      <ng-container matColumnDef="ATH">
        <th mat-header-cell *matHeaderCellDef>ATH</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.market_data.ath.usd}} </td>
      </ng-container>

      <ng-container matColumnDef="%ATH">
        <th mat-header-cell *matHeaderCellDef>% ATH</th>
        <td (click)="Analytics(element.id)" class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.market_data.market_cap.usd}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
