<div class="flex items-center justify-between shadow-md" >
  <img
    class="m-5"
    width="150"
    alt="Angular Logo"
    src="https://www.luganodes.com/static/bb96106f6500547f02d758f98fa67a30/e22d8/lgnsBlack.webp"
  />
<div class="flex gap-5 mr-10">


  <a
    aria-label="About"
    target="_blank"
    rel="noopener"
    href="https://twitter.com/angular"
    title="Twitter"
  >
About
  </a>


  <a
    aria-label="Angular on YouTube"
    target="_blank"
    rel="noopener"
    href="https://youtube.com/angular"
    title="YouTube"
  >
Profile
  </a>


  </div>
</div>

<router-outlet></router-outlet>
